body{
margin: 0;
}

#topmenu{
    margin: 0;
}

ul{
list-style-type: none;
padding: 20px;
margin: 0;
background-color: #C4C4C4;
text-align: center;
}

li{
display: inline;
font-size: 15px;
font-family: Helvetica;
line-height: 20px;
}

li a{
text-decoration: none;
color: #000000;
padding: 20px 40px;
transition: 0.5s; 
}

li a:hover{
text-decoration: underline 2px;
font-size: 20px;
}



#phappy{
    position: absolute;
width: 550px;
height: 550px;
left: 25.56px;
top: 350px;
background: url(phappy.jpg);
border-radius: 800px;
transform: rotate(-2.00deg);
}

img{
    position: absolute;
width: 600px;
height: 150px;
left: 650px;
top: 60px;
}



h1{
    position: absolute;
    left: 770px;
    top: 170px;  
    font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 64px;
line-height: 75px;
text-align: right;
color: #000000;
}






#bocznemenu{
    position: absolute;
    width: 600px;
    height: 150px;
    left: 600px;
    top: 450px;  
    padding: 20px;
    text-align: left;
    font-size: 15px;
    font-family: Helvetica;
    color: #e71111;
    
    }

    #bape ul {

        text-align: left;
    }